#play-area {
  .Token {
    perspective: 1000%;

    .flipper {
      width: 100%;
      height: 100%;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      .front, .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: .3em solid black;
        backface-visibility: hidden;

        html.dark & {
          border: .3em solid rgb(164, 164, 164);
        }
      }

      /* front pane, placed above back */
      .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
      }

      /* back, initially hidden pane */
      .back {
        background: #333;
        transform: rotateY(180deg);
      }
    }

    /* flip the pane when hovered */
    &:not([data-color]) .flipper {
      transform: rotateY(180deg);
    }

    &[data-color=blue] .front {
      background: blue;
      html.dark & {
        background: rgb(13, 13, 115);
      }
  }

    &[data-color=red] .front {
      background: red;
      html.dark & {
        background: rgb(115, 13, 13);
      }
    }
  }
}
